{% extends 'CoreBundle::layout.html.twig' %}

{% block topjs %}
    <style type="text/css">
        #map-canvas { height: 400px; width: 400px; margin: 10px 0; padding: 0;}
    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: { lat: {{ entity.latitude }}, lng: {{entity.longitude }}},
                zoom: 8
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);

            var marker = new google.maps.Marker({
                position: { lat: {{ entity.latitude }}, lng: {{entity.longitude }}},
                map: map,
                title:"{{ entity.objectId }}"
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block title %}Station{% endblock %}

{% block content -%}
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Object ID</th>
                <td>{{ entity.objectId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ entity.latitude }}, {{ entity.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <div id="map-canvas"></div>

    <a class="btn btn-sml btn-info" href="{{ path('station') }}">Back to the list</a><br/><br/>

    {{ form(delete_form) }}
{% endblock %}

{% block bottomjs %}
    <script type="application/javascript">
        function resizeBootstrapMap() {
            var mapParentWidth = $('.container').width();
            var mapContainer = $('#map-canvas');
            mapContainer.width(mapParentWidth);
            mapContainer.height(3 * mapParentWidth / 4);
            google.maps.event.trigger(mapContainer, 'resize');
        }

        // resize the map whenever the window is resized and set the initial size.
        $(window).resize(resizeBootstrapMap);
        $(window).ready(resizeBootstrapMap);
    </script>
{% endblock %}
